<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        html, body {
            height: 100%;
        }
        body {
            background: #4A575A;
            font-family: 'Roboto Condensed', sans-serif;
        }
        .wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        h2 {
            color: #fff;
            padding-bottom: 30px;
            text-shadow: 0 2px 0 #000;
            text-align: center;
            font-size: 40px;
        }

        ul {
            list-style: none;
            margin: 0;
        }

        li {
            padding: 15px 0;
        }

        .content-wrapper p {
            font-weight: normal;
            color: #fd7e14;
            text-decoration: none;
            font-size: 30px;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="wrapper error-wrapper">
    <!-- Main section-->
    <section>
        <!-- Page content-->
        <div class="content-wrapper">
            <h2>Link inválido</h2>
            <p>
                Acesse novamente!
            </p>
        </div>
    </section>
</div>
</body>
</html>